<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.quickn.demo.dao.UserDao">

    <select id="list" resultType="com.alibaba.fastjson.JSONObject" >
      SELECT  id ,username from sys_user limit 10
    </select>

</mapper>